In [75]:
# lists
[]
type ([[]])

list

In [76]:
list()

[]

In [77]:
names = ['hasan', 'ashik', 'maz']
names

['hasan', 'ashik', 'maz']

In [78]:
len(names)

3

In [79]:
names[2]

'maz'

In [80]:
# update
names[2] = 'hasib'
names

['hasan', 'ashik', 'hasib']

unpredictable space in list
- 1. that will return that syantax error

e.g. 
```python
a = [1,2,3]
print(a[1 1])
```
will return syntax error

if we call item out of range, it will return index error

e.g. 
```python
a = [1,2,3]
print(a[3])
```
will return index error

In [81]:
lottery_numbers = [546,7,4,54,7,7]
sorted(lottery_numbers)

[4, 7, 7, 7, 54, 546]

In [82]:
# we can reverse sort too
lottery_numbers = [546,7,4,54,7,7]
sorted(lottery_numbers, reverse=True)

[546, 54, 7, 7, 7, 4]

In [83]:
# second way of sorting in python -- in place
lottery_numbers.sort()
lottery_numbers

[4, 7, 7, 7, 54, 546]

In [84]:
#  way of reverseing in python -- in place
lottery_numbers.reverse()
lottery_numbers

[546, 54, 7, 7, 7, 4]

In [85]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [86]:
help(list.reverse)

Help on method_descriptor:

reverse(self, /)
    Reverse *IN PLACE*.

## adding items to list

In [87]:
names = ['nina', 'max']
names.append("jimmy")
len(names)

3

In [88]:
# anoterh method to insert list
#insert in list --  my_list(pos, value)

names.insert(0, 'rose')
names

help(list.insert)

Help on method_descriptor:

insert(self, index, object, /)
    Insert object before index.

In [89]:
names = ['hasan', 'akash']
colors = ['ashik', 'onko']
names.extend(colors)
names

['hasan', 'akash', 'ashik', 'onko']

## list lookup

In [90]:
names = ["nina", 'maz', 'philip', 'alexa', 'nina']
"nina" in names

True

In [91]:
names.index("maz")

1

In [92]:
names.count('nina') # used to count total given similar items inside of the liset

2

In [93]:
# update a certain inndex item
names[0] = 'kina'

In [94]:
# we can dynamically get the position index of a entity and replace it
names = ["nina", 'maz', 'philip', 'alexa', 'nina']
pos = names.index('maz')
names[pos] = 'max'

names

['nina', 'max', 'philip', 'alexa', 'nina']

### removing item from list

In [95]:
names = ["nina", 'maz', 'philip', 'alexa', 'nina']
names.remove('nina')
names

['maz', 'philip', 'alexa', 'nina']

In [96]:
# err: at removing something which is not at the list (value err)
names.remove('floyd')

ValueError: list.remove(x): x not in list